---
layout: worktp
---
<style>

    header .bg-header {
        height: 0px;
    }

    /*头像*/
    .bg-header .avatar img {
        border-radius: 50%;
        margin-top: 100px;
        max-width: 170px;
    }

    .bg-header h1,
    .bg-header h2 {
        color: white;
    }

    /*姓名*/
    .bg-header h1 {
        letter-spacing: 2px;
        text-shadow: 0 0 10px rgba(15, 15, 15, .3);
    }

    /*描述*/
    .bg-header h2 {
        font-size: 18px;
        margin-top: 12px;
    }

    /*整个作品展示区*/
    .works-area {
       
		display: flex;
		height: auto;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
    }

    .works-area .works-item {
		width: 80%;
        max-width: 600px;
		max-height: 600px;
		margin: 60px 30px;
        border-radius: 2px;
        border: 1px solid #eee8d5;
        box-shadow: 8px 5px 10px rgba(0, 0, 0, .2);
		float: left;
	}

    .works-item-img {
	    min-height: 380px;
        margin: auto -26px;
    }

    .works-item-img img {
        width: 100%;
		max-height: 350px;
    }

    .works-area .works-item {
        background: white;
        padding: 0 25px 15px;
    }

    .works-item .works-content {
        padding-top: 0px;
		padding-bottom: 10px;
		height: 120px;
    }

    .works-item .title {
        height: 50px;
        margin: 0px 0px 0 200px;
		padding-top: 30px;
		vertical-align: center;
		font-weight: 600;
    }
	
	.works-item .title-date {
        align-items: center;
		border-radius: 290486px;
		display: inline-flex; 
		font-size: .75rem;
		height: 2em;
		padding-left: .875em;
		padding-right: .875em;
	    background-color: #363636;
		color: #f5f5f5;   
      }
	   
	   .works-item .title{
        font-size: 18px;
    }

    .works-item .button{
            background-color: #3273dc;
			border-color: transparent;
			color: #fff;
			justify-content: center;
			padding-left: .75em;
			padding-right: .75em;
			margin-bottom: .75em;
			border: 1px solid transparent;
			border-radius: 3px;
			text-align: center;
			font-weight: 400;
    }

    .works-item .use span {
        display: inline-block;
        font-size: 12px;
        border-radius: 3px;
        padding: 0 6px;
        border: thin solid #795548;
		margin: 0px 3px;
    }

    .works-item .subtitle {
        margin: 0;
        font-size: 17px;
		font-weight: 600;
    }
</style>

<div class="works-container" style="background-color: #fafafa">
    <header>
        <div class="bg-header is-flex justify-center">
            <div class="profile">
                <div class="avatar">
                    <img src="<%- theme.user_avatar %>">
                </div>
                <div class="personal-profile has-text-centered content">
                    <h1>
                        <%- theme.user_name %>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container works-area">
        <% for(var obj in site.data.project){ %>
            <div class="works-item">
                <div class="title is-flex center justify-space-between ">
                    <span>
                        <strong><%= site.data.project[obj].title %></strong>
                    </span>
                    <div class="title-date">
                        <%= site.data.project[obj].data %>
                    </div>
                </div>
                <div class="works-item-img">
                    <img src="<%= site.data.project[obj].img_link %>">
                </div>
                <div class="works-content">
                    <div class="use text-warning">
                        <% for (var arrayVal in site.data.project[obj].use ){ %>
                        <span>
                                <%= site.data.project[obj].use[arrayVal] %>
                            </span>
                        <% } %>
                    </div>
                    　
                    <p class="subtitle"> <%= site.data.project[obj].subTitle %> </p>

                    <p class="text-muted"> <%- site.data.project[obj].direction %> </p>
                </div>
                <div class="is-flex" style="text-align: right;">
                    <a class="button" href="<%= site.data.project[obj].link %>" target="_blank">
                        DETAIL
                    </a>
                </div>

            </div>
        <% } %>
    </div>
</div>